h1 {
  text-align: center;
}

.avatar-padding {
  padding: 20px;
}

.before-padding {
  padding: 65px;
}

.after-padding {
  padding: 65px;
}

.padding {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

p {
  font-size: 18px;
}

.lab-title {
  font-size: 30px;
}

a {
  color: #536DFE;
  text-decoration: none;
}

a:link {
  color: #536DFE;
  text-decoration: none;
}

a:visited {
  color: #536DFE;
  text-decoration: none;
}

a:hover {
  color: #536DFE;
  text-decoration: none;
}

a:active {
  color: #536DFE;
  text-decoration: none;
}